.idea/workspace.xml
microservices/notes/notes/__pycache__/service.cpython-36.pyc
microservices/users/users/__pycache__/service.cpython-36.pyc
env_microservices
micro_env
flask_api_swagger/swagger_user/swagger_env.py
microservices/gateway/gateway_env.py
microservices/notes/notes_env.py
microservices/users/users_env.py
